@using ElasticaClients.Models;
@model ElasticaClients.Models.AccountModel

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.Hidden("AccountId", Model.Id);

	<span>Бонусов сейчас : @Model.BonusesSummary</span>

	<div class="input-group mb-3">
		@Html.TextBox("bonusesOff", "", new { @class = "form-control", @placeholder = "Сколько списать" })
	</div>

	<button class="btn btn-primary">Списать</button>
}
