.navpanel {
	height: 100px;
	padding-bottom: 3px;
}

.buttonLink {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.h-25 {
	height: 25% !important;
}

.h-50 {
	height: 50% !important;
}

.h-75 {
	height: 75% !important;
}

.h-100 {
	height: 100% !important;
}

label.btn.tistatus-ok.active {
	background: green !important;	
}

label.btn.tistatus-un.active {
	background: black !important;
}

label.btn.tistatus-no.active {
	background: red !important;
}

label.btn.tistatus-cash.active {
	background: blue !important;
}

