@{
    var AccountB = System.Web.Mvc.DependencyResolver.Current.GetService<ElasticaClients.Logic.AccountB>();
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
	var currentAcc = AccountB.GetLite(Convert.ToInt32(User.Identity.Name));

	<li class="nav-item active">
		@Html.ActionLink(currentAcc.Name, "Details", "Account", new { id = User.Identity.Name }, new { @class = "nav-link" })
	</li>
	<li class="nav-item active">
		@Html.ActionLink("Выйти ", "Logout", "Account", new { id = "" }, new { @class = "nav-link" })
	</li>
}
else
{
	<li class="nav-item active">
		@Html.ActionLink("Войти", "Login", "Account", new { @class = "nav-link" })
	</li>
}
